* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 50px;
    background-color: #000;
    color: #eea727;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 90%;

}

h1 {
    text-align: center;
    word-wrap: break-word;
}

#quizWrap {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    margin-top: 30px;
    padding: 30px;
    width: 30rem;
    border-radius: 20px;
    border: 1px solid #eea727;
}

#questionProgress {
    border-bottom: 1px solid #f0f0f032;
}

#questions {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

/* #options-DIV {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: 1px solid #FFFF;
} */

#options {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
    gap: 10px;
    
}

#options button {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding: 10px;
    background-color: #000;
    color: #FFFF;
    border-radius: 10px;
    border: 1px solid #f0f0f032;
    cursor: pointer;
    

    &:hover{
        border: 1px solid #eea8275f;
    }
}

/* #options button::selection {
    cursor: not-allowed;
    opacity: 0.8;
    
} */

#options button.selected {
    background-color: #fff;
    border-color: #eea8275f;
    color: #000;
}

#next-BTN {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    background-color: #000;
    color: #eea727;
    border: 1px solid #eea8275f;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in;

    &:hover {
        background-color: #eea727;
        color: #000;
    }
}

#result {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* border: 1px solid #FFFF; */
}

#restart-BTN {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    background-color: #000;
    color: #eea727;
    border: 1px solid #eea8275f;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in;

    &:hover {
        background-color: #eea727;
        color: #000;
    }
}

h2 {
    color: #FFFF;
}




/*RESPONSIVNESS*/

@media (max-width: 426px) {
    #quizWrap {
        width: 100%;
    }
}